html {
	height:100%;	
}

body {
	height: 100%;
}

.navigation {
	max-height:900px;
	text-align: center;
}

.sort, .status {
	display: none;
}

.petitions {
	overflow:auto;
	margin: 0 .5em;
}

.petition {
	text-align: center;
	padding: .25em .5em .25em;
}

.petition:hover {
	background-color: #EEEEEE;
}

	.petition > p, .petition > a {
		font-size: .83em;
	}

#gmap {
	height: 500px;
	width: 600px;
	margin:0 .15em;
	border: 1px solid #B7B7B7;
}




